#navbarMenu {
  max-width: 1194px;
  width: 100%;
  margin:26px auto 0 auto; 
  display: flex;
  gap: 60px;
  align-items: center;
  justify-content: space-between;
  height: 27px;
  padding: 0.20px;
}

#navbarMenu a {
  text-decoration: none;
  color: #333;
  font-size: 16px;
  border-bottom: 2px solid transparent;
  transition: all 0.2s ease;
}

#navbarMenu a:hover {
  color: #004282;
  border-bottom: 2px solid #004282;
}

#navbarMenu a.active {
  color: #004282;
  font-weight: 600;
  border-bottom: 3px solid #004282;
}

@media (max-width: 991.98px) {
  #navbarMenu {
    height: 60px;
  }

  #navbarMenu {
    display: none !important;
  }
.hero-section {
  width: 100%;
  max-width: 1440px;
  height: auto;
  background-color: #F3F4F8;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 100px; /* spacing on both sides */
}

.hero-title {
  font-size: 36px;
  font-weight: normal; /* Not bold */
  color: #000;
  margin: 0;
}

.hero-image {
  height: auto;
  width: 100px;
  margin-bottom: 1rem;
}
@media (max-width: 768px) {
  .hero-section {
    padding: 40px 20px;
    text-align: center;
  }
  #clearBtn {
    right: 10px;
    font-size: 1rem;
  }
  #searchinput {
    width: 100%;
    font-size: 1rem;
  }

  .navbar-nav {
    flex-direction: column;
    gap: 10px;
  }

  .link-bar-container {
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin: 20px 0 0 0;
  }

  .responsive-header span, 
  .responsive-header a {
   font-size: 16px;
   color: #333;
  }

  .responsive-header .row {
    flex-wrap: wrap;
  }
  
  .responsive-header .col-md-6 {
    margin-bottom: 10px;
  }

  @media (max-width: 768px) {
    .responsive-header .d-flex {
      flex-direction: column;
      align-items: flex-start;
    }

    .left-info {
      gap: 4px;
      flex-wrap: wrap;
    }
    
  }
  

  
}

